.p-button {
  @include p-controls;

  padding: base(2) base(4);
  background: colors(light);
  border-width: 0;
  box-shadow: 1px 1px 1px $border-color;
  color: $body-font-color;
  touch-action: none;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  & ~ & {
    margin-left: base();
  }

  &:focus, &:hover {
    color: colors(gray, dark);
    background-color: colors(primary, light);
    text-decoration: none;
  }

  &:active, &.active {
    background: colors(primary);
    color: colors(light);
  }

  &:disabled, &.disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }

  @each $name in $ui-colors {
    &.is-#{$name} {
      background-color: colors($name);
      color: colors(light);
    }
  }

  &.is-primary {
    background: colors(primary);
    color: colors(light);

    &:focus, &:hover {
      background: colors(primary);
      color: colors(light);
    }

    &:active, &.active {
      background: colors(primary);
      color: colors(light);
    }

    &.is-loading {
      &::after {
        border-bottom-color: colors(light);
        border-left-color: colors(light);
      }
    }
  }

  &.is-link {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $link-color;

    &:focus, &:hover, &:active, &.active {
      color: $link-color;
    }

    &:focus {
      text-decoration: underline;
    }
  }
}

// this is likely to go away in the future
.p-has-no-style {
  appearance: none;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: inherit;
  font-weight: inherit;
  padding: 0;

  &:focus {
    text-decoration: underline;
  }
}
