.p-input-group {
  &:not(:last-child) {
    margin-bottom: base(5);
  }
}

.p-input-label, .p-input-hint {
  display: block;
  padding: base() 0;
  user-select: none;
  font-weight: 500;
  font-size: base(3);
}

.p-input-wrapper {
  position: relative;
}

.p-input-validation-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: base(5);
  margin: base(3);

  @each $name in $ui-colors {
    .#{$name} & .p-input-icon {
      stroke: colors($name);
    }
  }
}

.p-input-hint {
  color: colors(gray);

  @each $name in $ui-colors {
    .#{$name} & {
      color: colors($name);
    }
  }
}

.p-input, .p-select, .p-textarea {
  @include p-controls;

  background-color: colors(light);
  min-width: $input-min-width;
  color: $body-font-color;

  &:focus {
    border-color: colors(primary);

    @include control-shadow(colors(primary));
  }

  @each $name in $ui-colors {
    .#{$name} & {
      border-color: colors($name);

      &:focus {
        @include control-shadow(colors($name));
      }
    }
  }

  &:disabled, &.disabled {
    background-color: colors(background);
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.p-input, .p-textarea {
  width: 100%;
  max-width: 100%;
}

.p-input-wrapper {
  &.has-validation-icon .p-input {
    padding-right: base(10);
  }
}

.p-textarea {
  display: block;
  resize: vertical;
  min-height: base(15);
}

.p-select-wrapper {
  display: inline-flex;
  position: relative;
  align-items: center;

  select {
    padding-right: base(10);
  }

  &:after {
    @include arrow($border-color-dark);

    z-index: 4;
    right: base(3);
    top: base(4);
    margin-top: -0.25rem;
  }

  &.multiple {
    display: flex;

    select {
      padding-right: base(2);
    }

    &:after {
      content: none;
    }
  }
}

.p-select {
  cursor: pointer;
  border-width: 0;
  box-shadow: 1px 1px 1px $border-color;

  &::-ms-expand {
    display: none;
  }
}
