// Tables
.p-table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  td {
    border-bottom: $border-width solid $border-color;
    padding: 1.4rem 1rem;
  }

  th {
    border-bottom: 0.2rem solid colors(gray, dark);
    padding: 1.4rem 1rem;
  }

  &.is-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: colors(background, light);
      }
    }
  }

  &.has-hover tbody tr {
    &:hover {
      background: colors(background, dark);
    }
  }

  &, &.is-striped {
    tbody {
      tr {
        &.active {
          background: colors(background, dark);
        }
      }
    }
  }
}
