label.p-switchbox, label.p-checkbox {
  position: relative;
  user-select: none;
  font-size: $font-size * 0.9;
  height: 2.4rem;
  color: colors(gray, dark);
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  // note: this is triggered using JS
  &.focus {
    text-decoration: underline;
  }

  &.disabled, &.disabled * {
    opacity: 0.4;
    cursor: not-allowed;
  }

  input[type="checkbox"] {
    touch-action: none;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }
}

label.p-switchbox {
  // state: checked
  input[type=checkbox]:checked + .p-switch-lever {
    background-color: colors(primary);

    &:after {
      transform: translateX(1.7rem);
    }
  }

  // switch slot
  .p-switch-lever {
    content: "";
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    width: 4.2rem;
    height: 2.4rem;
    background-color: colors(gray, dark);
    border-radius: 2.4rem;
    margin: 0 1.2rem;
    transition: background-color 0.3s ease;

    // switch 'knob'
    &:after {
      content: "";
      width: 1.8rem;
      height: 1.8rem;
      background-color: colors(light);
      border-radius: 1.8rem;
      transition: transform 0.3s ease;
      will-change: transform;
      position: relative;
      left: 0.3rem;
    }
  }
}

label.p-checkbox {
  padding-left: 3.6rem;

  .p-check-lever:before, .p-check-lever:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 0;
    border: 0.2rem solid colors(gray, dark);
    border-radius: $border-radius;
    background-color: colors(light);
    transition: 0.2s ease;
  }

  .p-check-lever:after {
    border: 0;
    transform: scale(0);
  }

  [type="checkbox"] {
    // state: checked
    &:checked + .p-check-lever:before {
      top: -0.4rem;
      left: -0.4rem;
      width: 1.4rem;
      height: 2.6rem;
      border-top: 0.2rem solid transparent;
      border-left: 0.2rem solid transparent;
      border-right: 0.2rem solid colors(primary);
      border-bottom: 0.2rem solid colors(primary);
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
      background-color: transparent;
    }

    // state: disabled + unchecked
    &:not(:checked):disabled + .p-check-lever:before {
      border: none;
      background-color: colors(gray, dark);
    }

    // state: disabled + checked
    &:disabled + .p-check-lever:before {
      border-right: 0.2rem solid colors(primary);
      border-bottom: 0.2rem solid colors(primary);
    }
  }
}
