h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: base(7);
  line-height: base(10);
  margin-bottom: base(3);
  letter-spacing: 0.08rem;
}

h2 {
  font-size: base(6);
  line-height: base(8);
  margin-bottom: base(3);
  letter-spacing: 0.04rem;
  font-weight: 600;
}

h3 {
  font-size: base(5);
  line-height: base(7);
  margin-bottom: base(3);
  font-weight: 600;
}

h4 {
  font-size: base(4);
  line-height: base(6);
  margin-bottom: base(3);
  font-weight: 600;
}

h5 {
  font-size: base(3);
  line-height: base(5);
  margin-bottom: base(3);
}

p {
  font-size: base(4);
  line-height: base(5);
  margin: 0 0 base(3);
}

a, ins, u {
  text-decoration-skip: ink edges;
}

blockquote {
  border-left: 0.3rem solid $border-color;
  margin-left: 0;
  padding: base(3) base(6);

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    color: colors(gray);
  }
}

ul, ol {
  margin: base(5) 0 base(5) base(5);
  padding: 0;

  ul, ol {
    margin: base(3) 0 base(3) base(5);
  }

  li {
    margin-top: base(3);
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}
