h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 700;
  margin-bottom: 1.2rem;
  margin-top: 0;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.025rem;
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.4rem;
  margin: 0 0 1rem;
}

a, ins, u {
  text-decoration-skip: ink edges;
}

blockquote {
  border-left: 0.3rem solid $border-color;
  margin-left: 0;
  padding: 1.2rem 2.4rem;

  p:last-child {
    margin-bottom: 0;
  }

  cite {
    color: colors(gray);
  }
}

ul, ol {
  margin: 2rem 0 2rem 2rem;
  padding: 0;

  ul, ol {
    margin: 1.4rem 0 1.4rem 2rem;
  }

  li {
    margin-top: 1rem;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}
