@function colors($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Sizes

$html-font-size: 62.5%;
$html-line-height: 1.42857;
$font-size: 1.2rem;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$layout-padding: 1.4rem;
$input-min-width: 18rem;
$border-radius: 0.3rem;
$border-width: 0.1rem;

// Colors

$palettes: (
  primary: (
    base: #2782af,
    light: #c4e3f2
  ),
  gray: (
    base: #547484,
    dark: #2b3b43,
    light: #d5dde1
  ),
  background: (
    light: #eef1f5,
    dark: #3e7a97, // gray-dark
    base: #d5dde1 // gray-light
  ),
  success: (
    base: #65a282
  ),
  warning: (
    base: #bbb04c
  ),
  danger: (
    base: #a26575
  ),
  light: (
    base: #fbfbfc
  )
);

$link-color: colors(primary);
$border-color: colors(gray, light);
$border-color-dark: colors(gray, dark);

$code-color: colors(danger);

$body-font-color: colors(gray, dark);

$ui-colors: primary success warning danger;
